
<table width="360" style="font-size:10px;font-family: Arial, Times, serif;text-align:center;color:#00598b">
	<tr>
		<td></td>
		<td></td>
		<td style="text-align: right">FT. HDP</td>
		<td></td>
		<td style="text-align: right">FT. O/U</td>
		<td style="text-align: right">FT. 1X2</td>
	</tr>
	<tr>
		<td style="text-align: left">BARCELONA</td>
		<td style="color:#25aae1;text-align: right">0.5</td>
		<td style="text-align: right">0.89</td>
		<td style="color:#25aae1;text-align: right">3-3.5</td>
		<td style="text-align: right">0.83</td>
		<td style="text-align: right">1.88</td>
	</tr>
	<tr>
		<td style="text-align: left">REAL MADRID</td>
		<td></td>
		<td style="text-align: right">1.04</td>
		<td style="color:#25aae1;text-align: right"">u</td>
		<td style="text-align: right">1.07</td>
		<td style="text-align: right">3.80</td>
	</tr>
	<tr>
		<td style="text-align: left;color:#707070">SERI</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td style="text-align: right">3.65</td>
	</tr>
</table>

<table width="360" style="font-size:10px;font-family: Arial, Times, serif;text-align:center;color:#00598b">
	<tr>
		<td></td>
		<td></td>
		<td style="text-align: right">FT. HDP</td>
		<td></td>
		<td style="text-align: right">FT. O/U</td>
		<td style="text-align: right">FT. 1X2</td>
	</tr>
	<tr>
		<td style="text-align: left">MAN CITY</td>
		<td style="color:#25aae1;text-align: right">0-0.5</td>
		<td style="text-align: right">0.83</td>
		<td style="color:#25aae1;text-align: right">2.5-3</td>
		<td style="text-align: right">1.02</td>
		<td style="text-align: right">2.09</td>
	</tr>
	<tr>
		<td style="text-align: left">CHELSEA</td>
		<td></td>
		<td style="text-align: right">1.11</td>
		<td style="color:#25aae1;text-align: right">u</td>
		<td style="text-align: right">0.88</td>
		<td style="text-align: right">3.45</td>
	</tr>
	<tr>
		<td style="text-align: left;color:#707070">SERI</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td style="text-align: right">3.30</td>
	</tr>
</table>

<table width="800" style="font-size:10px;font-family: Arial, Times, serif;text-align:center;color:#707070">
	<tr>
		<td>TANGGAL</td>
		<td>JAM</td>
		<td>HDP</td>
		<td colspan="4">PERTANDINGAN</td>

		<td>HDP</td>
		<td>CHANNEL</td>
	</tr>
	<tr bgcolor="#efefef">
		<td colspan="9" style="font-weight:bold">UEFA Champions League</td>
		
	</tr>
	<tr>
		<td>07 DEC</td>
		<td>02:45 (W.I.B)</td>
		<td style="color:#25aae1">1.5</td>
		<td style="color:#00598b;text-align:right">Manchester City</td>
		<td style="color:#8fc714">0.93</td>
		<td style="color:#8fc714">1.00</td>
		<td style="color:#00598b;text-align:left">Celtic</td>
		<td></td>
		<td>BeIn Sport 2</td>
	</tr>
	<tr bgcolor="#efefef">
		<td>07 DEC</td>
		<td>02:45 (W.I.B)</td>
		<td style="color:#25aae1">0.5-1</td>
		<td style="color:#00598b;text-align:right">Bayern Munchen</td>
		<td style="color:#8fc714">0.90</td>
		<td style="color:#8fc714">1.03</td>
		<td style="color:#00598b;text-align:left">Atletico de Madrid</td>
		<td></td>
		<td>-</td>
	</tr>
	<tr>
		<td>07 DEC</td>
		<td>02:45 (W.I.B)</td>
		<td style="color:#25aae1">1.5</td>
		<td style="color:#00598b;text-align:right">Barcelona</td>
		<td style="color:#8fc714">0.88</td>
		<td style="color:#8fc714">1.05</td>
		<td style="color:#00598b;text-align:left">B. Monchengladbach</td>
		<td></td>
		<td>BeIn Sport 3</td>
	</tr>
	<tr bgcolor="#efefef">
		<td>07 DEC</td>
		<td>02:45 (W.I.B)</td>
		<td></td>
		<td style="color:#00598b;text-align:right">Basel</td>
		<td style="color:#8fc714">0.88</td>
		<td style="color:#8fc714">1.05</td>
		<td style="color:#00598b;text-align:left">Arsenal</td>
		<td style="color:#25aae1">0-0.5</td>
		<td>BeIn Sport 1</td>
	</tr>
	<tr>
		<td>08 DEC</td>
		<td>02:45 (W.I.B)</td>
		<td style="color:#25aae1">0.5-1</td>
		<td style="color:#00598b;text-align:right">Real Madrid</td>
		<td style="color:#8fc714">1.06</td>
		<td style="color:#8fc714">0.87</td>
		<td style="color:#00598b;text-align:left">Borussia Dortmund</td>
		<td></td>
		<td>BeIn Sport 2</td>
	</tr>
	<tr bgcolor="#efefef">
		<td>08 DEC</td>
		<td>02:45 (W.I.B)</td>
		<td style="color:#25aae1">1-1.5</td>
		<td style="color:#00598b;text-align:right">Porto</td>
		<td style="color:#8fc714">0.88</td>
		<td style="color:#8fc714">1.07</td>
		<td style="color:#00598b;text-align:left">Leicester City</td>
		<td></td>
		<td>BeIn Sport 3</td>
	</tr>
	<tr>
		<td colspan="9" style="font-weight:bold">UEFA Europa League</td>
		
	</tr>
	<tr bgcolor="#efefef">
		<td>09 DEC</td>
		<td>01:00 (W.I.B)</td>
		<td style="color:#25aae1">0-0.5</td>
		<td style="color:#00598b;text-align:right">Feyenoord</td>
		<td style="color:#8fc714">0.91</td>
		<td style="color:#8fc714">0.97</td>
		<td style="color:#00598b;text-align:left">Fenerbahce</td>
		<td></td>
		<td>-</td>
	</tr>
	<tr>
		<td>09 DEC</td>
		<td>01:00 (W.I.B)</td>
		<td></td>
		<td style="color:#00598b;text-align:right">FC Astra Giurgiu</td>
		<td style="color:#8fc714">0.84</td>
		<td style="color:#8fc714">1.04</td>
		<td style="color:#00598b;text-align:left">AS Roma</td>
		<td style="color:#25aae1">0-0.5</td>
		<td>BeIn Sport 2</td>
	</tr>
	<tr bgcolor="#efefef">
		<td>09 DEC</td>
		<td>01:00 (W.I.B)</td>
		<td></td>
		<td style="color:#00598b;text-align:right">APOEL Nicosia</td>
		<td style="color:#8fc714">0.83</td>
		<td style="color:#8fc714">1.05</td>
		<td style="color:#00598b;text-align:left">Olympiakos</td>
		<td style="color:#25aae1">0-0.5</td>
		<td>-</td>
	</tr>
	<tr>
		<td>09 DEC</td>
		<td>03:05 (W.I.B)</td>
		<td style="color:#25aae1">0.5-1</td>
		<td style="color:#00598b;text-align:right">Inter Milan</td>
		<td style="color:#8fc714">1.04</td>
		<td style="color:#8fc714">0.84</td>
		<td style="color:#00598b;text-align:left">Sparta Praha</td>
		<td></td>
		<td>BeIn Sport 2</td>
	</tr>


</table>